<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="66a57e">  <td>20/04/17 21:03:26</td>   <td>0</td> <td title="&gt;&gt;TestProduct.initReport()[pri:0, instance:com.automationpractice.testscripts.TestProduct@1e6d1014]">&gt;&gt;initReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2028371466</td>   <td></td> </tr>
<tr bgcolor="66a57e">  <td>20/04/17 21:03:27</td>   <td>84</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestProduct.validateSearchFunctinality()[pri:0, instance:com.automationpractice.testscripts.TestProduct@1e6d1014]">validateSearchFunctinality</td> 
  <td>main@2028371466</td>   <td></td> </tr>
<tr bgcolor="66a57e">  <td>20/04/17 21:03:48</td>   <td>21225</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestProduct.getResult(org.testng.ITestResult)[pri:0, instance:com.automationpractice.testscripts.TestProduct@1e6d1014]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@2028371466</td>   <td></td> </tr>
<tr bgcolor="66a57e">  <td>20/04/17 21:03:48</td>   <td>21685</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestProduct.validateSummary()[pri:0, instance:com.automationpractice.testscripts.TestProduct@1e6d1014]">validateSummary</td> 
  <td>main@2028371466</td>   <td></td> </tr>
<tr bgcolor="66a57e">  <td>20/04/17 21:04:21</td>   <td>54945</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestProduct.getResult(org.testng.ITestResult)[pri:0, instance:com.automationpractice.testscripts.TestProduct@1e6d1014]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@2028371466</td>   <td></td> </tr>
<tr bgcolor="66a57e">  <td>20/04/17 21:04:22</td>   <td>55061</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestProduct.validateSummary2()[pri:0, instance:com.automationpractice.testscripts.TestProduct@1e6d1014]">validateSummary2</td> 
  <td>main@2028371466</td>   <td></td> </tr>
<tr bgcolor="66a57e">  <td>20/04/17 21:05:34</td>   <td>127796</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestProduct.getResult(org.testng.ITestResult)[pri:0, instance:com.automationpractice.testscripts.TestProduct@1e6d1014]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@2028371466</td>   <td></td> </tr>
</table>
